/*----------------------------------------------------------------------------*/
/* Body & Core Elements */

body {
	background: #FFF;
	margin:0px;
	padding:0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}

hr {
	border-top: 0px solid #FFF;
	border-bottom: 1px solid #E4E4E4;
	margin-top:10px;
	margin-bottom:0px;
	padding-bottom:0px;
	background: #FFF;
}

pre {
	display: block;
	padding: 12.5px;
	margin: 0 0 9px;
	font-size: 12px;
	line-height: 18px;
	word-break: break-all;
	word-wrap: break-word;
	color:#FFF;
	background:#353535;
	border-radius:4px;
	font-family: 'Droid Sans Mono', sans-serif;
}

/*----------------------------------------------------------------------------*/
/* Page Body */

/*
.container {
	width: auto;
}*/

body > .container {
	margin: 0px auto;
	background: white;
	padding:0px;
	width: 940px;
}

body > .container > .container-inner {
	padding:20px 0px;
	padding-left:0px;
}

.container-inner-center {
	margin:0px auto;
	width:600px;
}

/*----------------------------------------------------------------------------*/
/* Page Header / Navigation */


.navbar-fixed-top {
	position: relative;
}
.navbar-inverse .navbar-inner {
	background:#262829;

	padding-top:10px;
	padding-bottom:10px;
	background: #262829;
	background-image: none;
	border-bottom: none;
	border-top: none;
	box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
}

.navbar-inverse .nav > li > a {
	color:#7A7A7A;
	font-weight:normal;
}

.navbar-inverse .nav  > li.active > a,
.navbar-inverse .nav  > li.active > a:hover {	
	background:#262829;
	box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
}

.navbar-inverse .nav  > li > a.btn {
	font-weight:normal;
	background:#363839;
	border-radius:10px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
	color:#FFF;
	padding: 5px 15px 5px !IMPORTANT;
	border:none !IMPORTANT;
	margin-top:5px !IMPORTANT;
	margin-left:15px;
	box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
}

.navbar-inverse .brand {
	font-family: 'Orbitron', serif;
	font-size: 28px;
	color: #DDD;#666869;
	letter-spacing: 1px;
	line-height: 20px;
	margin-left: -20px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
}

.navbar-inverse .brand > small {
    font-family: 'Open Sans', sans-serif;
    text-transform: lowercase;
    border-radius: 3px;
    background: #333;
    padding: 0px 5px;
    font-size: 18px;
    font-weight: normal;
}

.navbar-inverse .nav  > li > a.btn {
	font-weight:normal;
	background:#363839;
	border-radius:10px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
	color:#FFF;
	padding: 5px 15px 5px !IMPORTANT;
	border:none !IMPORTANT;
	margin-top:5px !IMPORTANT;
	margin-left:15px;
	box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
}

/*----------------------------------------------------------------------------*/
/* Page Footer */

footer {
	margin: 20px auto;
	width:940px;
}

footer ul {
	list-style: none;
	margin:0px;
	padding:0px;
	display:block;
	width:100%;
}

footer ul li {
	display:inline;
	margin-right:20px;
}

footer ul li>a {
	color:#A2A2A2;
	text-decoration:none;
	text-align:left;
}

footer .copyright {
	color:#A2A2A2;
	margin-top:10px;
}

footer .copoyright strong {
	color:#797979;
}

/*----------------------------------------------------------------------------*/
/* Nav Pills */

.nav-pills {
	font-size:14px;
	margin-top:0px;
	margin-bottom:0px;
}

.nav-pills.pull-right {
	float:right;
}

.nav-stacked>li>a,
.nav-pills>li>a {
	text-decoration:none;
	color:#4B5C66;
}

.nav-stacked>li>a.active,
.nav-stacked>li>a.active:hover,
.nav-pills>li.active>a,
.nav-pills>li.active:hover>a {
	background:#4B5C66;
	text-decoration:none;
	color:#FFF;
}

.nav-stacked {
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	font-size:14px;
	padding-left:0px !IMPORTANT;
	width:200px;
}
