@charset "UTF-8";
@font-face
{ 
	font-family: "pictonic";
	src: url("../font/pictonic.eot");
	src: url("../font/pictonic.eot?#iefix") format("eot");
	src: local("☺"),
	url("../font/pictonic.woff") format("woff"),
	url("../font/pictonic.ttf") format("truetype"),
	url("../font/pictonic.svg") format("svg");
	font-weight: normal; font-style: normal;
}
 
[class^="icon-"], [class*=" icon-"] {
	font-family:"pictonic";
	font-weight: normal; font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
}
 
a[class^="icon-"], a[class*=" icon-"], span[class^="icon-"], span[class*=" icon-"], small[class^="icon-"], small[class*=" icon-"] {
	display: -moz-inline-stack;
	display:inline-block;
	zoom: 1;
	*display: inline;
}
  
.icon-prog-js01:before { content:""; } 
.icon-prog-ruby:before { content:""; } 
.icon-prog-c:before { content:""; } 
.icon-prog-cplusplus:before { content:""; } 
.icon-prog-ccplusplus:before { content:""; } 
.icon-prog-php01:before { content:""; } 
.icon-prog-dotnet:before { content:""; } 
.icon-prog-vbnet:before { content:""; } 
.icon-prog-aspnet:before { content:""; } 
.icon-prog-python:before { content:""; } 
.icon-prog-lua02:before { content:""; } 
.icon-prog-lua01:before { content:""; } 
.icon-prog-nodejs01:before { content:""; } 
.icon-prog-nodejs02:before { content:""; } 
.icon-prog-csharp:before { content:""; } 
.icon-prog-objc:before { content:""; } 
.icon-prog-js02:before { content:""; } 
.icon-prog-php02:before { content:""; } 
.icon-prog-rails:before { content:""; } 
.icon-prog-django:before { content:""; } 
.icon-prog-perl:before { content:""; } 
.icon-prog-bash02:before { content:""; } 
.icon-prog-golang01:before { content:""; } 
.icon-prog-golang02:before { content:""; } 
.icon-prog-scala:before { content:""; } 
.icon-apple:before { content:""; } 
.icon-windows:before { content:""; } 
.icon-prog-erlang:before { content:""; } 
.icon-prog-coffeescr:before { content:""; } 
.icon-prog-java:before { content:""; }