<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ .page.title }} &middot; drone.io</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="icon" type="image/png" href="img/favicon.png">
		<link href="css/bootstrap.css" rel="stylesheet" />
		<link href="css/drone-base.css" rel="stylesheet" />
		<link href="css/drone-docs.css" rel="stylesheet" />

		<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>

		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link rel="stylesheet" href="pictonic/css/pictonic.css">
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- Primary Navigation
		================================================== -->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">drone.io <small>Docs</small></a>
					<ul class="nav pull-right">
						<li><a href="http://blog.drone.io">Blog</a></li>
						<li class="active"><a href="http://docs.drone.io">Documentation</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="jumbotron masthead">
			<!-- Article Title, details
				 ================================================== -->
			<div class="container">
				{{ if .page.logo }}
				<img src="{{ .page.logo }}" />
				{{ else }}
					{{ if .page.icon }}
					<h1><span class="icon-prog-{{ .page.icon }}" style="font-size:40px;"></span> <span style="font-size:30px;">{{ .page.tagline }}</span></h1>
					{{ else }}
					<h1>{{ .page.title }}</h1>
					{{ end }}
				{{ end }}
			</div>
		</div>

		<div class="container">
			<div class="container-inner">

				<!-- Project Settings
				================================================== -->
				<div class="container-fluid container-docs">
					<!-- Settings Options -->
					<div class="span9">

						<article>
							{{ .content }}
						</article>
					</div>

					<!-- Settings Form -->
					<div class="span3 pull-right">

						<ul class="nav nav-pills nav-stacked">

							<a href="/quickstart.html" class="btn" style="display:block;text-align: left;font-size: 18px;padding: 10px 10px 10px 10px;background: #40C598;color: #FFF;text-shadow: none;border: none;background-color: #57BCC8;">Quick Start »</a>
							<a href="/quickstart.html" class="btn" style="display:block;text-align: left;font-size: 18px;padding: 10px 10px 10px 10px;background: #40C598;color: #FFF;text-shadow: none;border: none;background-color: rgba(189, 54, 47, 0.8);margin-top:10px;display:none;">Get Help »</a>


							<li class="nav-header">Getting Started</li>
							<li><a href="/newproject.html">Project Setup</a></li>
<!--
							<li><a href="/project-private.html">Private Projects</a></li>
-->
							<li><a href="/teams.html">Teams</a></li>
							
							<li class="nav-header">Builds</li>
							<li><a href="/buildscript.html">Build Commands</a></li>
							<li><a href="/databases.html">Database Setup</a></li>
<!--
							<li><a href="/browsers.html">Browser Testing</a></li>
-->
							<li><a href="/notifications.html">Notifications</a></li>
							<li><a href="/artifacts.html">Artifacts</a></li>
							<li><a href="/branches.html">Branches</a></li>
							<li><a href="/badges.html">Status Badges</a></li>

							<li class="nav-header">Languages</li>
							<li><a href="/cpp.html">C / C++</a></li>
							<li><a href="/dart.html">Dart</a></li>
							<li><a href="/golang.html">Go</a></li>
							<li><a href="/haskell.html">Haskell (New)</a></li>
							<li><a href="/groovy.html">Groovy (New)</a></li>
							<li><a href="/java.html">Java</a></li>
							<li><a href="/node.html">Node.js</a></li>
							<li><a href="/php.html">PHP (Beta)</a></li>
							<li><a href="/python.html">Python (Beta)</a></li>
							<li><a href="/ruby.html">Ruby (Beta)</a></li>
							<li style="display:none;"><a href="/rust.html">Rust (Beta)</a></li>
							<li><a href="/scala.html">Scala (New)</a></li>
						
							<li class="nav-header">Deployments</li>
							<li><a href="/heroku.html">Heroku</a></li>
							<li><a href="/dotcloud.html">Dotcloud</a></li>

						</ul>
					</div><!-- end .span3-->
				</div><!-- end .container-fluid -->
			</div><!-- end .inner -->
		</div>

		<!-- Footer
		================================================== -->
		<footer>
			<p class="copyright">&copy; 2013 <strong>Drone.io</strong> All Rights Reserved.</p>
		</footer>

		<!-- Analytics
		================================================== -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-34247933-1']);
			_gaq.push(['_setDomainName', 'drone.io']);
				_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

		<!-- User Voice
		================================================== -->
		<script type="text/javascript">
		  var uvOptions = {};
		  (function() {
			var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
			uv.src = 'uservoice-mod.js' //('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/OIFj0Cos030oQssN7wpvWw.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
		  })();
		</script>
	</body>
</html>
